@import "tailwindcss";

:root{
    --main-color:#00adb5
}
.button{
    box-shadow: 0px 2px 30px var(--main-color);
}
.box{
    box-shadow: 0px 0px 7px 5px var(--main-color);
}
.main_color{
    color: #00adb5;
}
.backg{
    background-color: #00adb5;
}